.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 50px;
}

.card {
  font-size: 30px;
  max-width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  color: white;
  border: 2px dotted white;
}

.wrapper {
  height: 100vh;
}
