.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 44px;
}

.edgyLogo {
  color: white;
}

.softLogo {
  color: #FF527D;
}

.basicLogo {
  color: rgb(3, 3, 3);
}
