.wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1;
  justify-content: end;
  width: 100%;
}

.logInIcon {
  width: 180px;
  height: 200px;
}

.wrap .ant-popover {
  background-color: black !important;
  width: 100%;
}

.actionswrap {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.forgot{
  width: 100%;
  text-align: center;
}