



@property --pink {
  syntax: "<color>";
  inherits: false;
  initial-value: hotpink;
}

@keyframes rotateAnimation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
