.wrapper {
  height: 100vh;
}


.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 50px;
}

.card {
  font-size: 30px;
  max-width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  color: white;
  border: 2px dotted white;
}
@property --pink {
  syntax: "<color>";
  inherits: false;
  initial-value: hotpink;
}

@keyframes rotateAnimation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
