.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 16px 0px 16px 10px;
}

.navItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  font-family: Days One;
  font-weight: 400;
  line-height: 30.55px;
}

.nav {
  display: flex;
  // justify-content: center;
}

.burgerHeader {
  text-align: "center";
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triggerBtn {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.starText {
  display: flex;
  align-items: center;
}

.star {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}



@media (min-width: 778px) {
  .wrapper {
    display: none;
  }
}
