.wrap h2 {
  color: white;
  margin: 0 auto;
  width: 100%;
  padding: 40px 0 40px 0px;
  text-align: center;
}
.Inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.antForm {
  width: 100% !important;
  max-width: 800px;
}

.submit {
  background-color: #9b9d9c4a;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  border-radius: 3px;
  max-width: 204px;
  height: 45px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.55px;
  border: 0;
  cursor: pointer;

  display: block;
  margin: 0 auto;
}
.terms {
  color: #b67dff;
  text-decoration: underline;
}

.bigTechSignUp {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 24px;
}
.google {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: white;
  cursor: pointer;
  background-color: #3b3e3d;
  padding: min(2px, 1%) min(10px, 3%) min(2px, 1%) min(10px, 3%);
  max-width: 432px;
}
